.header{
  width: 100%;
  height: 80px;
  background-color: black;
  color: #fff;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center
}
.header-p{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-p2{
  display: flex;
  flex-direction: row;
  align-items: center;
}

 img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;;
 }
h1{
  font-size: large;
}
button{
  background: transparent;
  border: none;
  padding: 10px;

}

.container-modal {
  position: fixed;

  inset: 0;
  background: rgba(32, 32, 32, 0.5);
  z-index: 100;
}

.modal-menu {
  width: 180px;
  height: 100vh;
  background: rgb(255, 246, 246);
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}
 .container-modal a{
  text-decoration: none;
  color: #000;
  font-size: medium;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
 }

/* --- Tablets (Telas > 768px) --- */
@media screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }
    .modal-menu {
        width: 120px;

    }
}

/* --- Notebooks / Desktops Pequenos (Telas > 992px) --- */
@media screen and (max-width: 992px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

}

/* --- Desktops Grandes (Telas > 1200px) --- */
@media screen and (min-width: 1000px) {
    .container {
        width: 1140px;
    }
}


/*   Modal abrir ee fchar HTML ee CSS puro
.container-modal{
  position: fixed;
  inset: 0;
  background: rgba(60, 60, 60, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.menu-toggle {
  display: none;
}

.modal-menu{
  width: 150px;
  height: 100vh;
  float: right;
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  align-items: center;;
   transform: translateX(100%);
  transition: transform 0.3s ease;
}

.menu-toggle:checked ~ .container-modal {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}
.menu-toggle:checked ~ .container-modal .modal-menu {
  transform: translateX(0);

}

.menu-toggle:checked ~ .container-modal {
  opacity: 1;
  visibility: visible;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: medium;
}

.link{
  padding: 8px;
}   */
