.container{
  width: 100vw;
  height: 100vh;
  display: block;
  flex-direction: column;
  overflow-y:auto;
  background-color: rgb(43, 40, 40);
  padding: 20px;
}

.form-input{
  display: flex;
  width: 100%;
  color: #000;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 10px;
}

input{
  border: none;
  border-bottom: 1px solid gray;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
}
img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.container-button{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  background-color: #000;

}
.button-app{
  padding: 10px;
  border-radius: 10px;
  background-color: #00ff;

}
button{
  border: none;
  background-color: transparent;
  color: white;
  font-size: medium;
  cursor: pointer;

}
