.container{
  width: 100vw;
  height: 100vh;
  display: block;
  flex-direction: column;
  overflow-y:auto;
  background-color: rgb(43, 40, 40);
  padding: 20px;
}
.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(43, 40, 40.9);
  color: #00ff;
  font-size: large;
  z-index: 100;
}
h1{
  color: #fff;
  font-size: large;
  margin: 0 auto;
  text-align: center;
}

.form-input{
  display: flex;
  width: 100%;
  color: #fff;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 10px;

}
.form-input input{
  border: none;
  border-bottom: 1px solid gray;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
}

.form-button{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;

  border-radius: 10px;
  background-color: #00ff;
}

.form-button button{
  border: none;
  background-color: transparent;
  color: white;
  font-size: medium;
  cursor: pointer;

}
