.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 40, 40);
}

.form-input{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 10px;

}
.form-input input{
  border: none;
  border-bottom: 1px solid gray;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
}

.form-button{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #00ff;
}

.form-button button{
  border: none;
  background-color: transparent;
  color: white;
  font-size: medium;
  cursor: pointer;

}
