.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: rgb(255, 250, 250);
  padding: 20px;
}

.container-serviceItem:first-child,
.container-serviceItem:nth-child(2) {
  margin-right: 10px;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.container-form,
form {
  width: 100%;
}
.container-form h2 {
  display: flex;
  justify-content: start;
  align-items: start;
  color: #000;
  text-align: start;
  padding: 10px;
}

.container-form button {
  background-color: #00ff;
  width: 100%;
  color: #fff;
  font-size: 15px;
}

.container-secundario {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}

.modal-trash {
}
.container-all {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  width: 100%;
  border-right: 2px solid #322e2d;
}

.container-service {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  box-shadow: border-box;
  width: 100%;
  height: 100%;
  padding: 8px;
  margin: 5px 0 19px 0;
}

.container-serviceItem {
  display: flex;
  height: 80px;

  border: 1px solid #000;
  padding: 8px;

  border-radius: 10px;
}

.container-serviceItem p {
  color: #000;
  font-size: medium;
  font-weight: bold;
  padding-right: 8px;
}

.container-serviceItem span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #008000;
  font-weight: bold;
  font-size: medium;
}

.container-serviceItem button {
  text-decoration: none;

  border: none;
  color: #fff;
  border-radius: 8px;
  background-color: #fff;
}

.button-service {
  display: flex;
  padding: 5px;
  cursor: pointer;
}

.service-client {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #000;
  font-size: x-large;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bolder;
  font-size: x-large;
  color: #000;
}

/*form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 10px;
  /* background-color: crimson;
}*/

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-input {
  display: flex;
  width: 100%;
  color: #000;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 10px;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 8px;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
}

/*input {
  border: none;
  border-bottom: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  text-align: start;
  width: 100%;
}*/

button {
  padding: 10px;
  border-radius: 10px;
  /* background-color: #4a4a4a; /* Cor padrão (inativo) */
  color: #000;
  font-weight: bold;
  cursor: pointer;
  /* transition: background-color 0.3s ease;*/
}
.input-grande,
input {
  width: 100% !important;
  box-sizing: border-box; /* Impede que o padding estoure a largura */
  border: none;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 8px;
}

/*.input-grande {
  font-size: 1.25rem; /* Aumenta o tamanho da letra/números (ex: 20px) 
padding: 10px 14px; /* Dá um espaço interno para o texto respirar 
width: 100%; /* Faz o input ocupar toda a largura da div pai 
max-width: 350px; /* Limita a largura máxima (equivalente ao efeito do size="40") 
box-sizing: border-box; /* Garante que as bordas fiquem alinhadas corretamente */
/*}*/

.barbeiros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
}

.barbeiro-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.barbeiro-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: blue;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}

.barbeiro-text {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
}

.barbeiro-card.active {
  background-color: rgb(9, 33, 241);
}

@media screen and (max-width: 768px) {
  .container-form {
    flex-direction: column;
    height: 100%;
  }

  .container-secundario {
    flex-direction: column;
    width: 100%;
  }
  .container-all {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #322e2d;
  }
  .container-serviceItem {
    height: 60px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .container-service {
    flex-direction: column;
  }
}
