<div class="container">
  <h1>Adicione seus serviços de barbearia</h1>

  @if (idModal) {
    <div class="modal-trash">
      <app-modal-trash (closeModal)="handleCloseModal()" [serviceId]="idModal"></app-modal-trash>
    </div>
  }

  <section class="container-barbeiros">
    <h2>Barbeiros cadastrados</h2>
    <div class="barbeiros">
      @for (barbeiro of barbeiros; track barbeiro.id) {
        <button
          (click)="handleBarber(barbeiro.id)"
          class="barbeiro-card"
          [class.active]="barbeiroId === barbeiro.id"
        >
          <img class="barbeiro-img" [src]="barbeiro.img_url" alt="" />
          <div class="barbeiro-text">
            <h3>{{ barbeiro.name }}</h3>

            <h3>{{ barbeiro.barber_phone }}</h3>
          </div>
        </button>
      } @empty {
        <h2>Nenhum barbeiro cadastrado!</h2>
      }
    </div>
  </section>

  <div class="container-secundario">
    @if (!serviceBarber.length) {
      <div>Selecione um barbeiro para ver o serviço</div>
    } @else {
      <!---- <h2>Serviços cadastrados</h2>-->

      <div class="container-all">
        <h2>Serviços cadastrados</h2>
        <div class="container-service">
          @for (service of serviceBarber; track service.id) {
            <div class="container-serviceItem">
              <div class="service-client">
                <p>
                  {{ service.name }}
                </p>

                <span>
                  <lucide-icon
                    [img]="DollarSignIcon"
                    class="my-icon"
                    color="#008000"
                    [size]="18"
                  ></lucide-icon>
                  {{ service.price }}
                </span>
              </div>

              <div class="button-service">
                <button (click)="handlOpenModal(service.id)">
                  <lucide-icon
                    [img]="trashIcon"
                    class="my-icon"
                    color="#ff0000"
                    [size]="25"
                  ></lucide-icon>
                </button>
              </div>
            </div>
          }
        </div>
      </div>
    }

    @if (barbeiroId) {
      <section class="container-form">
        <div>
          <h2>Adicionar Serviço</h2>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()">
          <input type="hidden" formControlName="idBarberS" />

          <div class="form-input">
            <label for="">Nome do serviço</label>
            <input formControlName="name" type="text" class="input-grande" />
            <div style="color: brown; padding: 10px" *ngIf="mostrarErro('name', 'required')">
              Nome é obrigatório
            </div>
          </div>

          <div class="form-input">
            <label for="">Duraçao do serviço</label>
            <input formControlName="duration" type="time" class="input-grande" />
            <div style="color: brown; padding: 10px" *ngIf="mostrarErro('name', 'required')">
              Duraçao é obrigatório
            </div>
          </div>

          <div class="form-input">
            <label for="">Preço do serviço</label>
            <input formControlName="price" type="text" class="input-grande" />
            <div style="color: brown; padding: 10px" *ngIf="mostrarErro('name', 'required')">
              Preço é obrigatório
            </div>
          </div>

          <button type="submit">{{ loading ? 'carregando...' : 'Adicionar serviço' }}</button>
        </form>
      </section>
    }
  </div>
</div>
