.container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-box{
  background-image: url('./../../../../../public/barberBackNew.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 100vh;
  padding: 30px;
}
.formulario{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 50vw;
  height: 100vh;
  padding: 30px;
  color: gray;
}
.input-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 8px;

}
input{
  border: none;
  border-bottom: 1px solid gray;
  padding: 8px;
  border-radius: 8px;

}
.btn-login{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #00ff;
  padding: 8px;
  border-radius: 8px;
  color: black;
  width: 80px;
  margin-top: 20px;
  border: none;
}
