<div class="container">
  <div class="container-box"></div>
  <div class="formulario">
    <h1>Cadastre sua barbearia</h1>



  <form [formGroup]="form" (ngSubmit)="submit()">
   <div class="input-container">
        <label for="">Imagem da Barbearia</label>
        <input
         id="imagem"
        (change)="onImagemSelecionada($event)"
         type="file">
           @if (imagemPreview) {
            <img  [src]="imagemPreview" alt="Barbearia" width="200" />
          }
   </div>


    <div class="input-container">
      <label for="nome">Nome</label>
      <input
      formControlName="nome"
        type="text">
         <div style="color: brown;padding: 10px;" *ngIf="mostrarErro('email', 'required')">
        Nome é obrigatório
      </div>
      </div>

    <div class="input-container">
      <label for="email">Email</label>
      <input
      formControlName="email"
      type="text">

      <div style="color: brown;padding: 10px;" *ngIf="mostrarErro('email', 'required')">
        Email é obrigatório
      </div>

      <div style="color: brown;padding: 10px;" *ngIf="mostrarErro('email', 'email')">
        Email inválido
     </div>

    </div>



    <div class="input-container">
      <label for="telefone">Telefone</label>
      <input
     formControlName="telefone"
      id="telefone"
       type="text">
       <span style="color: brown; padding: 10px;" *ngIf="mostrarErro('telefone', 'pattern')">
           Formato de telefone inválido. Use (DD) 999999999.
       </span>
    </div>

    <div class="input-container">
      <label for="cidade">Cidade</label>
      <input
     formControlName="city"
      id="cidade"
      type="text">
    </div>

    <div class="input-container">
      <label for="estado">Estado</label>
      <input
     formControlName="estado"
      type="text">
    </div>

     <div class="input-container">
      <label for="street">Rua</label>
      <input
      formControlName="street"
      id="street"
      type="text">
    </div >

     <div class="input-container">
      <label for="estado">Bairro</label>
      <input
     formControlName="neighborhood"
      type="text">
    </div>
    <div class="input-container">
      <label for="estado">Numero</label>
      <input
     formControlName="number"
      type="text">
    </div>

    <div class="input-container">
      <label for="senha">Senha</label>
      <input
     formControlName="password"
      id="senha"
      type="password">

      <div style="color: brown;padding: 10px;" *ngIf="mostrarErro('password', 'required')">
        Senha e obrigatorio
      </div>
    </div>

    <div class="input-container">
      <label for="senha">Confirmar Senha</label>
      <input
     formControlName="passwordConfirmation"

      id="senha"
      type="password">

  <div style="color: brown;padding: 10px;" *ngIf="mostrarErro('password', 'required')">
        Senha e obrigatorio
      </div>

      <div *ngIf="form.hasError('senhaDiferente') && form.get('passwordConfirmation')?.touched"
         style="color:brown; padding:10px">
           As senhas não conferem
           </div>
    </div>

    <button class="btn-login" (click)="submit()">
      Cadastrar
    </button>
     <a href="/">logar</a>
    </form>
    <div>

  </div>

</div>
