.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 100vh

}
.container-box{
  background-image: url('./../../../../../public/barberBackNew.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 100vh;
  padding-top: 30px;

}
.formulario{
  display: block;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 50vw;
  height: 100vh;
  padding: 20px;
  color: gray;
  overflow-y: auto;
}
.input-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 8px;

}
input{
  border: none;
  border-bottom: 1px solid gray;
  padding: 8px;
  border-radius: 8px;

}
.btn-login{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #00ff;
  padding: 8px;
  border-radius: 8px;
  color: black;
  width: 80px;
  margin-top: 20px;
  border: none;
}

img{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;;
  border: none;
  border-radius: 5%;
}

a{
  text-decoration: none;
  color: rgb(0, 255, 149);
  margin-top: 15px;
  padding: 10px;

}
