@media screen and (min-width: 320px){
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
   /* background-image: url('./../../../../../../public/barberBackNew.jpg'); */
   background-color: rgba(0, 0, 0);
    background-size: cover;
    background-position: center;
   justify-content: center;
   
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    padding: 30px;
    color:#000;
}
.container-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
h1{
  color: #000;
  font-size: 25px;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
  color: rgb(78, 101, 232);
  padding: 10px;
}
.container-box{
    display:flex;
    flex-direction: column;
    align-items: center;
   border:1px solid #000;
    background-color: rgba(255, 255, 255);
    max-width: 400px;
   max-height: 600px;
    padding: 20px;
    color: gray;

}
.input-email{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 20px;
    color: #000;
}
.input-senha{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #000;
;
}
input{
    border: none;
    border-bottom: 1px solid gray;
    padding: 8px;
    border-radius: 8px;
}
.btn-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 240, 96);
    padding: 8px;
    border-radius: 8px;
    color: #fff;
    width: 100%;
    margin-top: 20px;
    border: none;
;
}

}

@media screen and (max-width: 576px){
 .container{
  height: 100vh;
 }


}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 992px){

}

@media screen and (min-width: 1000px){

}

