@media screen and (min-width: 320px){
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./../../../../../../public/barberBackNew.jpg');
   justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    padding: 30px;
}
h1{
  color: #00ff;
  font-size: 25px;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
  color: rgb(0, 255, 149);
  padding: 10px;
}
.container-box{
    display:flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(0, 0, 0, 0.7);
    max-width: 400px;
   max-height: 600px;
    padding: 20px;
    color: gray;

}
.input-email{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 20px;
}
.input-senha{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
;
}
input{
    border: none;
    border-bottom: 1px solid gray;
    padding: 8px;
    border-radius: 8px;
}
.btn-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #00ff;
    padding: 8px;
    border-radius: 8px;
    color: black;
    width: 80px;
    margin-top: 20px;
    border: none;
;
}
}

@media screen and (min-width: 576px){
 .container{
  height: 100vh;
 }
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){

}

